/* ==========================================================================
   buttons / button
   ========================================================================== */

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background-color: var(--color-primary);
    box-shadow: 6px 9px 15px 5px rgba(0, 13, 81, 0.2);
    line-height: 1;
    padding: 24px;
    border-radius: 12px;

    color: var(--color-white);
    font-size: var(--font-size-button);
    transition: 0.3s ease-out all;

    &:hover {
        color: var(--color-white);
        box-shadow: 3px 3px 1px 1px rgba(0, 13, 81, 0.7);
    }
}

.button--large {
    background: var(--gradient-primary);
    padding: 24px 32px;
    border: none;
    font-size: var(--font-size-button-large);
}

.button-play {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-out;

    span {
        background-image: linear-gradient(#ffc700, #ff782d);
        border-radius: 100%;
        color: var(--color-white);

        display: inline-flex;
        justify-content: center;
        align-items: center;

        padding: 15px;
        transition: all 0.3s ease-out;
    }

    &:hover {
        color: var(--color-neutral);
        span {
            transform: scale(0.9);
        }
    }
}
