/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1.1;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 1;
    color: var(--color-neutral-dark);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}
